body {
  padding: 0;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: rgb(211, 210, 210);
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  font-size: 12px;
  overflow: hidden;
}

.light {
  background: white;
}

.roomContainer {
  height: 100vh;
}

.error {
  color: red;
}

.lk-grid-layout-wrapper {
  height: 100%;
}

.lk-focus-layout {
  height: 100%;
}

.lk-participant-metadata {
  display: none;
}

.lk-participant-tile[data-lk-video-muted="true"] .lk-participant-metadata {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.lk-participant-tile[data-lk-video-muted="true"] .lk-connection-quality {
  display: none;
}

.lk-participant-metadata-item {
  background: #494949;
  border-radius: 50%;
  height: 15rem;
  margin: 0 auto;
  width: 15rem;
}

.lk-participant-name {
  font-size: 0;
  margin: 0 auto;
}

.lk-participant-name::first-letter {
  font-size: 5rem;
  text-transform: capitalize;
}

.lk-participant-placeholder svg {
  display: none;
}
