name: Deploy Template
on: push

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Docker metadata
        id: docker-md
        uses: docker/metadata-action@v4
        with:
          images: livekit/egress-template
          tags: |
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./build/template/Dockerfile
          push: true
          platforms: linux/amd64
          tags: ${{ steps.docker-md.outputs.tags }}
          labels: ${{ steps.docker-md.outputs.labels }}
