# Copyright 2023 LiveKit, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Publish Templates
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
    paths:
      - build/template/Dockerfile
      - template-default/**
      - template-sdk/**

jobs:
  docker:
    runs-on: buildjet-8vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v6
        # for pull requests, need to checkout head for EndBug/add-and-commit to work
        if: github.event_name == 'pull_request'
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

      - uses: actions/checkout@v6
        if: github.event_name != 'pull_request'

      - name: Docker metadata
        id: docker-md
        uses: docker/metadata-action@v5
        with:
          images: livekit/egress-templates
          tags: |
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./build/template/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.docker-md.outputs.tags }}
          labels: ${{ steps.docker-md.outputs.labels }}

      - name: Update template version
        run: |
          SHORT_SHA=`echo ${GITHUB_SHA} | cut -c 1-7`
          sed "s/TemplateVersion.*= \"[-a-z0-9]*\"/TemplateVersion = \"sha-${SHORT_SHA}\"/" < version/version.go  > version.go
          mv -f version.go version/version.go

      - name: Commit version changes
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: |
            Commit: https://github.com/${{ github.repository }}/commit/${{ github.sha }}
            Ref: https://github.com/${{ github.repository }}/tree/${{ github.ref_name }}
            By: ${{ github.actor }}
          push: true

