name: Integration Test
on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - build/chrome/**
      - build/egress/**
      - build/gstreamer/**
      - build/test/**
      - cmd/**
      - pkg/**
      - test/**
  pull_request:
    branches: [ main ]
    paths:
      - build/chrome/**
      - build/egress/**
      - build/gstreamer/**
      - build/test/**
      - cmd/**
      - pkg/**
      - test/**

jobs:
  integration:
    runs-on: buildjet-8vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true

      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/go/bin
            ~/bin/protoc
            ~/.cache
          key: egress

      - uses: shogo82148/actions-setup-redis@v1
        with:
          redis-version: '6.x'
          auto-start: true
      - run: redis-cli ping

      - name: Build docker image
        run: docker build -t egress-test -f ./build/test/Dockerfile .

      - name: Run tests
        run: |
          docker run --rm \
            --network host \
            --security-opt seccomp=unconfined \
            --cap-add=SYS_ADMIN \
            -e GITHUB_WORKFLOW=1 \
            -e EGRESS_CONFIG_STRING="$(echo ${{ secrets.EGRESS_CONFIG_STRING }} | base64 -d)" \
            -e S3_UPLOAD="$(echo ${{ secrets.S3_UPLOAD }} | base64 -d)" \
            -e GCP_UPLOAD="$(echo ${{ secrets.GCP_UPLOAD }} | base64 -d)" \
            -v /workspace/test:/out \
            egress-test
